@import "./config.scss";

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $green1;
  // color: white;
  @include boxShadow(0px, 1px, 3px, 0px, #919191);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}

.nav-links {
  height: 100%;
  font-size: 20px;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;

  :first-child {
    margin-right: 50px;
  }

  :last-child {
    margin-left: 50px;
  }
}

@media (max-width: 760px) {
  .nav-links {
    width: 100%;
  }
  .nav-links ul {
    width: 100%;
    display: flex;
    flex-grow: 1;
  }
  .nav-links li {
    flex-grow: 1;
  }
  .nav-links ul :first-child{
    margin: 0px;
  }
  .nav-links ul :last-child{
    margin: 0px;
  }
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;

  // animations
  @include transition(0.4s ease-in-out);
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
    color: $grey1;
    @include transition(0.4s ease-in-out);
  }
}

.nav-green {
  background-color: $green1;
  color: white;
  transition: all 1s linear;
  a {
    color: white;
    &:hover {
      color: $grey1;
    }
  }  
}

.nav-white {
  background-color: $grey1;
  transition: all 1s linear;
  a {
    color: white;
    &:hover {
      color: $green1;
    }
  }  
}

.nav-item {
  // animations
  cursor: pointer;
  color: black;
}

.nav-item a {
  text-align: center;
}

.menu-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;

  // animations
  @include transition(0.4s ease-in-out);
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
    color: $grey1;
    @include transition(0.4s ease-in-out);
  }
}

.burger-green {
  color: white;
  transition: all 1s linear;
  &:hover {
    color: $grey1;
  }
}

.burger-white {
  color: $grey1;
  transition: all 1s linear;
  &:hover {
    color: $green1;
  }
}

@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .nav-padding {
    height: 56px;
  }
  .menu-icon {
    display: flex;
  }
  .nav-links {
    display: none;
  }
  .show {
    display: flex;
  }
  .nav-links ul {
    flex-direction: column;
    :first-child {
      margin: 0px;
    }
    :last-child {
      margin: 0px;
    }
  }
}