.pi-outer-container {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.pi-profile-intro-container {
  justify-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 820px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 30px;
  padding-left: 30px;
}
.pi-top {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.pi-top hr {
  margin-top: 15px;
  text-align: center;
  border-top: 5px;
  width: 100%;
  max-width: 820px;
  color: #e7e7e7;
}
.pi-top h3 {
  font-family: "Roboto-Thin";
  font-size: 20px;
}
.pi-top h4 {
  font-family: "Roboto-Thin";
  font-size: 16px;
  color: black;
  padding: 0px;
  margin: 0px;
}
.pi-header-name {
  margin-bottom: 0px;
  font-family: "Roboto-Light";
  color: #2cbfbb;
  font-size: 40px;
}
.pi-bottom {
  display: grid;
  grid-template-columns: [left] 1fr [middle] 1fr [right] 1fr;
  margin-bottom: 80px;
}
.pi-left {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-right: 30%;
}
.pi-middle {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
.pi-profile-image {
  align-self: center;

  border-radius: 50%;
  width: 207px;
  height: 207px;
  text-align: center;
}
.pi-right {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-left: 30%;
}

.pi-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pi-section-title {
  h3 {
    color: #2cbfbb;
  }
}

@media (max-width: 600px) {
  .pi-outer-container {
    display: flex;
  }
  .pi-profile-intro-container {
    justify-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .pi-top {
    // margin-top: 20px;
    margin-bottom: 10px;
  }

  .pi-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .pi-profile-image {
    padding: 50px 0px 50px 0px;
  }

  .pi-middle {
    margin: 0px;
    order: 1;
  }
  .pi-left {
    margin: 0px;
    order: 2;
    margin-bottom: 30px;
  }
  .pi-right {
    margin: 0px;
    order: 3;
    text-align: center;
  }
}
