@import "/src/Assets/scss/config";

.contact-outer-container {
  background: #5c6f7c;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.contact-inner-container {
  justify-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 820px;
  padding-top: 60px;
  padding-bottom: 100px;
  padding-right: 30px;
  padding-left: 30px;
}
.contact-top {
  text-align: center;
  margin-bottom: 60px;
}
.contact-top-line {
  margin-top: 15px;
  text-align: center;
  border-top: 5px;
  max-width: 820px;
  border-color: #989797;
}
.contact-header-name {
  margin-bottom: 0px;
  font-family: "Roboto-Thin";
  color: white;
  font-size: 40px;
}
.contact-mid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 820px;
  color: white;
  font-family: "Roboto-Light";
  font-size: 14px;
  margin-bottom: 40px;
}
.contact-link {
  color: white;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none !important;
    @include transition(0.4s ease-in-out);
    color: black;
  }
}
@media (max-width: 895px) {
  .contact-mid {
    width: 100%;
    max-width: 820px;
  }
}
.contact-mid-left {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: left;
}
.contact-detail-left {
  display: flex;
  align-items: center;
}
.contact-mid-mid {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.contact-detail-mid {
  display: flex;
  align-items: center;
}
.contact-mid-right {
  display: block;
  align-items: center;
}
.contact-detail-right {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
}
.contact-icon {
  height: 1rem;
  padding-right: 10px;
}
.contact-bottom {
  display: grid;
  grid-template-columns: [left] 1fr [middle] 1fr [right] 1fr;
  margin-bottom: 60px;
  font-size: 14px;
  font-family: "Roboto-Light";
  color: white;
}
.contact-bottom-mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 844px) {
  .contact-outer-container {
    display: flex;
  }
  .contact-inner-container {
    width: 100%;
  }
  .contact-mid {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .contact-mid-left {
    margin-bottom: 20px;
    min-width: none;
    justify-content: center;
  }
  .contact-mid-mid {
    margin-bottom: 20px;
    min-width: none;
    justify-content: center;
  }
  .contact-mid-right {
    margin-bottom: 20px;
    min-width: none;
    justify-content: center;
  }
  .contact-detail-right {
    justify-content: center;
  }
}
